<div class="full-screen">
  <div class="background">
  </div>
  <div class="text-container">
    <h1>Welcome to a test of mine</h1>
    <p>Etiam semper ullamcorper interdum. Suspendisse pharetra dapibus mi, sed laoreet lectus placerat id. Maecenas ac dui orci. Cras neque felis, semper nec nibh a, egestas lacinia nibh. Vivamus malesuada augue nulla, vitae congue diam iaculis volutpat. Nulla commodo vitae lorem vehicula gravida. Integer velit urna, congue et nisl nec, euismod imperdiet orci. Suspendisse egestas urna ut ullamcorper tempor. Sed vulputate purus malesuada, posuere nulla hendrerit, iaculis dui. Donec facilisis at risus ut mollis. Praesent varius turpis quis diam aliquam volutpat. Donec bibendum, odio sit amet sollicitudin gravida, nisl magna viverra nibh, eget venenatis dolor leo id sem.</p>
  </div>
</div>